 .drugListTable{
    margin-top:18px;
    padding:20px
 }
.drugTableList {
    background-color: #ffffff;
    color: #252631;
   

    .tableHead {
        color: #417505;
        font-size: 14px;
        font-weight: 700;
        text-transform: capitalize;
    }
    .tableRow {
        border: 1px solid #e8ecef;
        font-weight:400;
        height:55px;
    }

}
.dataTables_length {
    color:green;
}