@import '../pages/main.scss';

// .headerMenu {
//     height: 198px;
//     border-radius: 4px;
//     background-color: #ffffff;

    .headerMenuTop {
        min-height: 56px;
        border-bottom: 1px solid #e8ecef;
        display:flex;
        align-items:center;

        .topMenuTitle {
            color: #252631;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.2px;
        }
    }
    .headerMenuContent {
        @extend .flex-space-evenly;
        min-height: 142px;
        background-color: #ffffff;

        .menuItem {
            @extend .flex-center;
            width: 17%;
            height: 86px;
            border-radius: 4px;
            border: 1px solid #e8ecef;
            background-color: #ffffff;
            text-decoration:none;
            
            .iconItem {
                width:42px;
                height:42px;
                background-color: #8fa871;
                border-radius: 50%;
                position:relative;

             }
             
            .iconItem:hover {
                background-color: #417505;
            }
            .iconItemImg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .menuItemText {
                @extend .flex-space-btw;
                flex-wrap:wrap;
                margin-left:10px;
                width:60%;
            }
                .titleItem, .infoItem {
                    width:100%;
                }
                .titleItem {
                    color: #252631;
                    font-size: 12px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                .infoItem {
                    color: #98a9bc;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                }
            

           
        }
    }
@media only screen and (max-width:1224px){
    .headerMenuContent {
        flex-wrap:wrap;
}
}
@media only screen and (max-width:824px) {
    .headerMenuContent {
        padding:18px;
    }
}