@import '../pages/main.scss';

/*leftCol.html START*/
.leftCol{
    width: 242px;
    min-height: 1349px;
    background-color: #ffffff;
    border-right: 2px solid #f8fafb;
    .logoLeft{
        padding-left: 64px;
        padding-top: 15px;
        padding-bottom: 30px;
        a{
            width: 73px;
            min-height: 45px;
            color: #417505;
            font-family: "Rubik Light", sans-serif;
            font-size: 27px;
            font-weight: 300;
            padding: 4px;
            border-radius: 5px;
            transition: all .25s linear;
            text-align: center;
            &:hover{
                color: #fff;
                background: #417505;
                text-decoration: none;
            }
        }
    }
    .dashboard{
        padding: 19px 74px 18px 34px;
        background-color: #f8fafb;
        color: #252631;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.3px;
        border-left: 2px solid #417505;
        &:hover{
            text-decoration: none;
            background-color: #417505;
            color: #f8fafb;
            border-left: 2px solid #7ed321;
        }
        img{
            margin-right: 24px;
        }
    }
}
/*leftCol.html END*/