.formProfile {
    width: 555px;
    height: 488px;
    border-radius: 4px;
    background-color: #ffffff;

    .formProfileTitle {
        height: 56px;
        border-bottom:1px solid #f2f4f6;
        color: #252631;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.2px;
    }
    .formContent {
        padding:0 23px 0 23px;
    }
    .label, .input, select {
        width:100%;
    }
    .input, select {
        height: 52px;
        border-radius: 4px;
        border: 1px solid #e8ecef;
        background-color: #ffffff;
        color: #98a9bc;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
    }
    .label {
        height:52px;
        display: flex;
        align-items:center;
        color: #252631;
        font-family: "Roboto Light";
        font-size: 14px;
        font-weight: 300;
    }
    .updateProfile {
        width: 242px;
        height: 46px;
        margin-top:150px;
        background-color: #417505;
        border-radius: 4px;
        border:none;
        color: #ffffff;
        font-family: "Roboto Medium";
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.3px;
        text-transform: uppercase;
    }
}