.viewAll {
    width: 152px;
    height: 35px;
    border-radius: 4px;
    background-color: #eb9b50;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
}
.viewAll:hover{
    background-color: #ffdcaf;
    color: #eb9b50;
    text-decoration: none;
    border: 1px solid #eb9b50;
}
.topViewCtn {
width:30%;

.topViewItem {
    color: #000000;
    font-weight: 700;
}
.topViewL {
    @extend .topViewItem;
    font-size: 25px;
}
.topViewS {
@extend .topViewItem;
font-size:20px;
}
.topViewXS {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.greenPrice {
    @extend .topViewS;
    color: #417505;
}
}

@media only screen  and (max-width:1440px) {
    //     // .responsiveBox {
    //     //     display:flex;
    //     //     flex-wrap:wrap;
    // }
    .topViewCtn {
        .topViewL {
            font-size: 18px;
        }
        .topViewS {
            font-size:16px;
        }
        .topViewXS {
            font-size:14px;
        }
           }
        }

@media only screen and (max-width:1224px){
.topViewCtn {
        width:45%;
    
}
.planDetails {
    .planLinks {
    width:320px;
}
}
}
@media only screen and (max-width:824px) {
    .topViewCtn {
        width:100%;
    }
    .topViewCtn {
        .topViewL {
            font-size: 25px;
        }
        .topViewS {
            font-size:20px;
        }
        .topViewXS {
            font-size:18px;
        }
           }
        
        
}
@media only screen and (max-width:467px){
    .planDetails {
        .planTitle {
            display:inline-block;
            width:50%;
        }
        .planLinks {
            width:50%;
            flex-wrap:wrap;

        }
        .planLink {
            width:100%;
            text-align: right;
        }
    }
}
@media only screen and (max-width:376px){
    .topViewCtn {
        .topViewL {
            font-size: 18px;
        }
        .topViewS {
            font-size:16px;
        }
        .topViewXS {
            font-size:14px;
        }
           }
    .headerMenuTop {
        flex-wrap:wrap;
    }
    .viewAll {
margin: 10px 0 10px 0;
    }
}
