<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
	
  <div class="wrapper">

    @@include('../partials/components/leftCol.html')

    <div class="mainContent">

        @@include('../partials/components/topLine.html', {
            "title": "Anonymous Client Details"
        })


        <div class="whiteBox">
            @@include('../partials/components/headerMenu.html')
        </div>


        <div class="whiteBox pharmaciesTitle">
            <a href="#">Preferred Pharmacies</a>
        </div>
        

        <div class="pharmaciesBox">
            <div class="whiteBoxElem">
                <form action="" class="pharmaciesForm">
                    <input type="text" id="email" name="email" placeholder="Enter address or 5 digit zipcode" class="contactUsFormLItem italic">

                    <input class="greenBtn" type="submit" value="FIND PHARMACIES">
                </form>

                <div class="pharmaciesDetails">Select up to 2 retail pharmacies. Mail order will be automatically included.</div>

                <div class="greenTitle">
                    <div class="hashtag">#</div>
                    <div class="pharmacyTitle">Pharmacy</div>
                    <div class="selectPharm">Select</div>
                </div>

                @@loop('../partials/components/pharmDetails.html', [
                    {
                    "ctrlNumber": "1",
                    
                    "details": "CVS Pharmacy #12345<br>1234 Main St<br>Cincinnati, OH 45202",

                    "distance": "Distance: ",

                    "distValue": "0.95 Mile(s)"
                    },
                    {
                        "ctrlNumber": "2",
                        
                        "details": "CVS Pharmacy #12345<br>1234 Main St<br>Cincinnati, OH 45202",
    
                        "distance": "Distance: ",
    
                        "distValue": "0.95 Mile(s)"
                    }
                ])
            </div>

            <div class="whiteBoxElem map">
                <div class="whiteBoxElemMap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1511.073983154097!2d-73.98570573449821!3d40.75877020823664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2585500e85589%3A0x18f39d1f8ee2a312!2sNew%20York%20Marriott%20Marquis!5e0!3m2!1sro!2sro!4v1573757878256!5m2!1sro!2sro" style="border:0;" allowfullscreen=""></iframe>
                </div>
                

            </div>
        </div>

    </div>
    
  </div>

  @@include('../partials/scripts/common.html')
</body>

</html>