<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
	
  <div class="wrapper">

    @@include('../partials/components/leftCol.html')

    <div class="mainContent">
        @@include('../partials/components/topLine.html', {
            "title": "Anonymous Client Details"
          })

        <div class="whiteBox">
        @@include('../partials/components/headerMenu.html')
        </div>

        <div class="whiteBox subsidy">
            <div class="whiteBoxTitle">
                <h3>
                    <a href="#">Medicare Extra Help</a>
                    <div class="whiteBoxTitleButton">
                        ...
                    </div>
                </h3>
                
            </div>

            <div class="whiteBoxContent">
                <div class="whiteBoxDescr">Medicare costs can be reduced to account for Medicare’s low income Subsidy to help pay subscription costs.</div>

                <form action="" class="subsidyForm">
                    <fieldset id="group1">
                        <div class="input">
                            <input type="radio" id="value1" name="group1">
                            <label for="value1"> Not Eligible</label>
                        </div>

                        <div class="input">
                            <input type="radio" id="value2" name="group1">
                            <label for="value2"> Receiving Medicaid as well as Medicare</label>
                        </div>
                        
                        <div class="input">
                            <input type="radio" id="value3" name="group1">
                            <label for="value3"> Medicare Savings Program (MSP)</label>
                        </div>
                        
                        <div class="input">
                            <input type="radio" id="value4" name="group1">
                            <label for="value4">Partial Extra Help</label>
                        </div>

                        <div class="input">
                            <input type="radio" id="value5" name="group1">
                            <label for="value5"> Uncertain <span class="red">( Select 1 option)</span></label>

                            <fieldset id="group2">
                                
                                <div class="input">
                                    <input type="radio" id="value11" name="group2">
                                    <label for="value11"> 25%</label>
                                </div>

                                <div class="input">
                                    <input type="radio" id="value12" name="group2">
                                    <label for="value12"> 50%</label>
                                </div>

                                <div class="input">
                                    <input type="radio" id="value13" name="group2">
                                    <label for="value13"> 75%</label>
                                </div>

                                <div class="input">
                                    <input type="radio" id="value14" name="group2">
                                    <label for="value14"> 100%</label>
                                </div>

                            </fieldset>
                        </div>
                    </fieldset>
                    
                    

                    <input class="greenBtn" type="submit" value="SAVE SUBSIDY">
                </form>
                         
                    
            </div>
            
        </div>

        @@include('../partials/components/footer.html')
    </div>
    
  </div>

  @@include('../partials/scripts/common.html')
</body>

</html>