a {
    text-decoration: none;
}
.content {
    margin:22px 28px;
}

.rla {
    text-align:left;
    font-weight:700;

}
.rca {
    text-align: center;
}
.upc {
    text-transform: uppercase;
}
.ctl {
    text-transform: capitalize;
}