<table id="drugTable" class="drugTableList">
    <thead class="tableHead">
        <tr class="tableRow rca">
            <th class="rla">Name</th>
            <th>dosage</th>
            <th>supply</th>
            <th>frequency</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        <tr class="tableRow rca">
            <td class="rla">Levetiracetam</td>
            <td class="upc">SOL 100MG/ML</td>
            <td>30</td>
            <td class="ctl">Two Months</td>
            <td><a href="#"><img src="./assets/images/Gripper.png" alt=""></a></td>
        </tr>
        <tr class="tableRow rca">
            <td class="rla">Levetiracetam</td>
            <td class="upc">SOL 100MG/ML</td>
            <td>30</td>
            <td class="ctl">Two Months</td>
            <td><a href="#"><img src="./assets/images/Gripper.png"></a></td>
        </tr>
        <tr class="tableRow rca">
            <td class="rla">Levetiracetam</td>
            <td class="upc">SOL 100MG/ML</td>
            <td>30</td>
            <td class="ctl">Two Months</td>
            <td><a href="#"><img src="./assets/images/Gripper.png"></a></td>
        </tr>
        <tr class="tableRow rca">
            <td class="rla">Levetiracetam</td>
            <td class="upc">SOL 100MG/ML</td>
            <td>30</td>
            <td class="ctl">Two Months</td>
            <td><a href="#"><img src="./assets/images/Gripper.png"></a></td>
        </tr>
        <tr class="tableRow rca">
            <td class="rla">test</td>
            <td class="upc">SOL 100MG/ML</td>
            <td>30</td>
            <td class="ctl">Two Months</td>
            <td><a href="#"><img src="./assets/images/Gripper.png"></a></td>
        </tr>
        <tr class="tableRow rca">
            <td class="rla">Levetiracetam</td>
            <td class="upc">SOL 100MG/ML</td>
            <td>30</td>
            <td class="ctl">Two Months</td>
            <td><a href="#"><img src="./assets/images/Gripper.png"></a></td>
        </tr>
    </tbody>
</table>