<div class="headerMenu">
    <div class="headerMenuTop padl23">
        <span class="topMenuTitle">List ID: 123456789</span>
    </div>
    <div class="headerMenuContent">
        <div class="menuItem">
            <span class="iconItem"></span>
            <div class="menuItemText">
            <span class="titleItem">Profile</span>
            </div>
        </div>
        <div class="menuItem">
            <span class="iconItem"></span>
            <div class="menuItemText">
            <span class="titleItem">Subsidy</span>
            <span class="infoItem">Uncertain</span>
            </div>
        </div>
        <div class="menuItem">
            <span class="iconItem"></span>
            <div class="menuItemText">
            <span class="titleItem">Drug List</span>
            <span class="infoItem">6 Drugs</span>
            </div>
        </div>
        <div class="menuItem">
            <span class="iconItem"></span>
            <div class="menuItemText">
            <span class="titleItem">Pharmacies</span>
            <span class="infoItem">2 Pharmacies</span>
            </div>
        </div>
        <div class="menuItem">
            <span class="iconItem"></span>
            <div class="menuItemText">
            <span class="titleItem">Plans</span>
            <span class="infoItem">20 Plans</span>
            </div>
        </div>
    </div>
</div>