<div class="whiteBox">
    <div class="headerMenuTop padl23">
        <span class="topMenuTitle">List ID: 123456789</span>
    </div>
    <div class="headerMenuContent">
        <a class="menuItem" href="#">
            <span class="iconItem">
                <img class="iconItemImg por" src="./assets/images/user-light.png" alt="">
            </span>
            <div class="menuItemText">
                <span class="titleItem">Profile</span>
            </div>
        </a>
        <a class="menuItem"  href="#">
            <span class="iconItem">
                <img class="iconItemImg" src="./assets/images/money-bill-alt-light.png" alt="">
            </span>
            <div class="menuItemText">
                <span class="titleItem">Subsidy</span>
                <span class="infoItem">Uncertain</span>
            </div>
        </a>
        <a class="menuItem"  href="#">
            <span class="iconItem">
                <img class="iconItemImg" src="./assets/images/Shape.png" alt="">
            </span>
            <div class="menuItemText">
                <span class="titleItem">Drug List</span>
                <span class="infoItem">6 Drugs</span>
            </div>
        </a>
        <a class="menuItem"  href="#">
            <span class="iconItem">
                <img class="iconItemImg por" src="./assets/images/first-aid-regular.png" alt="">
            </span>
            <div class="menuItemText">
                <span class="titleItem">Pharmacies</span>
                <span class="infoItem ">2 Pharmacies</span>
            </div>
        </a>
        <a class="menuItem"  href="#">
            <span class="iconItem">
                <img class="iconItemImg por" src="./assets/images/list-alt-light.png" alt="">
            </span>
            <div class="menuItemText">
                <span class="titleItem">Plans</span>
                <span class="infoItem">20 Plans</span>
            </div>
        </a>
    </div>
</div>