<div class="drugDetails">
    <div class="ctrlNr">@@ctrlNumber</div>

    <div class="ctrlNrDrug">
        <div class="ctrlNrLeft">
            <h3><a href="#">@@title</a></h3>
            <form action="">
                <input type="text" name="quantity" placeholder="Quantity">
            </form>
        </div>
        <div class="ctrlNrRight">
            <form action="">
                <input class="dosage" type="text" name="dosage" placeholder="Dosage">
                <input class="frequency" type="text" name="frequency" placeholder="Frequency">

                <input class="orangeBtn" type="submit" value="ADD DRUG">
            </form>
        </div>
    </div>
</div>