<div class="pharmDetails">

    <div class="ctrlNrDet">
        <div class="ctrlNr">@@ctrlNumber</div>

        <div class="detailsContent">
            <a href="#">
                <div class="pharmDtls"> @@details</div>
                <div class="pharmDistance"><span>@@distance</span> @@distValue</div>
            </a>
        </div>
    </div>
    

    <div class="selectCheckbox">
        <form action="/action_page.php">
            <input type="checkbox" name="vehicle1" value="Bike">
        </form>
    </div>

</div>