<form class="formProfile">
    <div class="formProfileTitle padl23">
        <span class="formTitle">Profile Information</span>
        <div class="formProfileTitleButton">
            ...
        </div>
    </div>
    <div class="formContent">
        <label class="label">Zip Code</label>
        <input class="input" type="text" placeholder="45202">
        <label class="label">County</label>
        <select>
            <option value="" disabled selected>Select County</option>
            <option value="UK">UK</option>
            <option value="Canada">Canada</option>
            <option value="Germany">Germany</option>
        </select>
        <button class="updateProfile" type="button">update profile</button>
    </div>
</form>