<table id="tablePlan" class="tablePlan">
    <caption class="tableHead">Estimated Drug Cost By Month</caption>
    <thead  class="headSubtitle">
        <tr>
            <th>Month</th>
            <th>drug name</th>
            <th>phase</th>
            <th>amount</th>
        </tr>
    </thead>
    <tbody>
        @@loop('../partials/components/tablePlanRows.html', [
            { 
                "month": "january",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "deductible",
                "phase2": "deductible",
                "phase3": "deductible",
                "phase4": "deductible",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            { 
                "month": "february",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "initial",
                "phase2": "initial",
                "phase3": "initial",
                "phase4": "initial",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            { 
                "month": "march",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "gap",
                "phase2": "gap",
                "phase3": "gap",
                "phase4": "gap",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            { 
                "month": "april",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "catastrophic",
                "phase2": "catastrophic",
                "phase3": "catastrophic",
                "phase4": "catastrophic",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            { 
                "month": "may",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "catastrophic",
                "phase2": "catastrophic",
                "phase3": "catastrophic",
                "phase4": "catastrophic",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            { 
                "month": "june",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "catastrophic",
                "phase2": "catastrophic",
                "phase3": "catastrophic",
                "phase4": "catastrophic",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            { 
                "month": "july",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "catastrophic",
                "phase2": "catastrophic",
                "phase3": "catastrophic",
                "phase4": "catastrophic",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            { 
                "month": "august",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "catastrophic",
                "phase2": "catastrophic",
                "phase3": "catastrophic",
                "phase4": "catastrophic",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            { 
                "month": "september",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "catastrophic",
                "phase2": "catastrophic",
                "phase3": "catastrophic",
                "phase4": "catastrophic",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            
            { 
                "month": "october",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "catastrophic",
                "phase2": "catastrophic",
                "phase3": "catastrophic",
                "phase4": "catastrophic",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            
            { 
                "month": "november",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "catastrophic",
                "phase2": "catastrophic",
                "phase3": "catastrophic",
                "phase4": "catastrophic",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            
            { 
                "month": "december",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "catastrophic",
                "phase2": "catastrophic",
                "phase3": "catastrophic",
                "phase4": "catastrophic",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            }
            
            

        ])
     
    </tbody>
</table>