<table id="tablePlan" class="tablePlan">
    <thead class="tableHead leftAlign">
        <tr>
        <th>Estimated Drug Cost By Month</th></tr>
        <tr class="headSubtitle">
            <th>Month</th>
            <th>drug name</th>
            <th>phase</th>
            <th>amount</th>
        </tr>
    </thead>
    <tbody>
        @@loop('../partials/components/tablePlanRows.html', [
            { 
                "month": "january",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "deductible",
                "phase2": "deductible",
                "phase3": "deductible",
                "phase4": "deductible",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            { 
                "month": "january",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "deductible",
                "phase2": "deductible",
                "phase3": "deductible",
                "phase4": "deductible",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            { 
                "month": "january",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "deductible",
                "phase2": "deductible",
                "phase3": "deductible",
                "phase4": "deductible",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            { 
                "month": "january",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "deductible",
                "phase2": "deductible",
                "phase3": "deductible",
                "phase4": "deductible",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            { 
                "month": "january",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "deductible",
                "phase2": "deductible",
                "phase3": "deductible",
                "phase4": "deductible",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            { 
                "month": "january",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "deductible",
                "phase2": "deductible",
                "phase3": "deductible",
                "phase4": "deductible",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            { 
                "month": "january",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "deductible",
                "phase2": "deductible",
                "phase3": "deductible",
                "phase4": "deductible",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            { 
                "month": "january",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "deductible",
                "phase2": "deductible",
                "phase3": "deductible",
                "phase4": "deductible",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            { 
                "month": "january",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "deductible",
                "phase2": "deductible",
                "phase3": "deductible",
                "phase4": "deductible",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            
            { 
                "month": "january",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "deductible",
                "phase2": "deductible",
                "phase3": "deductible",
                "phase4": "deductible",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            
            { 
                "month": "january",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "deductible",
                "phase2": "deductible",
                "phase3": "deductible",
                "phase4": "deductible",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            },
            
            { 
                "month": "january",
                "drug1": "lisinopril TAB 20MG",
                "drug2": "alendronate sodium TAB 70MG",
                "drug3": "prednisone TAB 2.5MG",
                "drug4": "cyclobenzaprine hcl TAB 10MG",
                "phase1": "deductible",
                "phase2": "deductible",
                "phase3": "deductible",
                "phase4": "deductible",
                "amount1": "$ 0.00",
                "amount2": "$ 0.00",
                "amount3": "$ 0.00",
                "amount4": "$ 0.00"
            }
            
            

        ])
     
    </tbody>
</table>