<div class="topLine">

    <div class="left">
        <a class="anonymousClientListL" href="#">
            <img src="./assets/images/xImg1.png" alt="">
            <span>
                Anonymous Client List
            </span>
        </a>
    </div>

    <div class="right">
        <a class="anonymousClientListR" href="#">
            <img src="./assets/images/xImg1.png" alt="">
        </a>

        <a class="anonymousClientListR green" href="#">
            <img src="./assets/images/xImg1.png" alt="">
        </a>

        <a class="anonymousClientListR pink" href="#">
            <img src="./assets/images/xImg1.png" alt="">
        </a>


        <a class="anonymousClientListR" href="#">
            <img src="./assets/images/barryArmstrong.png" alt="">
            <span>Barry Armstrong</span>
        </a>
    </div>
    
</div>