<div class="topLine">

    <div class="left">
        <a class="anonymousClientListL" href="#">
            <i class="fas fa-bars"></i>
            <span>
                @@title
            </span>
        </a>
    </div>

    <div class="right">
        <a class="anonymousClientListR" href="#">
            <i class="fas fa-search"></i>
        </a>

        <a class="anonymousClientListR green" href="#">
            <i class="far fa-envelope"></i>
        </a>

        <a class="anonymousClientListR pink" href="#">
            <i class="far fa-bell"></i>
        </a>


        <a class="anonymousClientListR" href="#">
            <div class="profileImg" style="background-image: url(./assets/images/serveimage.jpeg);">
                
            </div>
            <span>Barry Armstrong</span>
        </a>
    </div>
    
</div>