<div class="headerMenu">
    <div class="headerMenuTop flex-space-btw padl23 padr23">
        <span class="topMenuTitle">List ID: 123456789</span>
        <a class="viewAll" href="#">view all plans</a>
    </div>
    <div class="headerMenuContent flex-space-evenly">
        <div class="topViewCtn">
            <div class="topViewItem topViewL">SilverScript Choice Rx (PDP)</div>
            <div class="topViewItem topViewS">Premium
                <span class="greenPrice">$30.80</span>
            </div>
        </div>
        <div class="topViewCtn">
            <div class="topViewItem topViewXS">S5601 - 028</div>
            <div class="topViewItem topViewS">Deductible: 
                <span class="greenPrice">$435</span>
                <span class="topViewS">(Tiers 3,4,5)</span>
            </div>
        </div>
        <div class="topViewCtn">
            <div class="topViewItem"></div>
            <div class="topViewItem topViewS">Total Estimated Cost:
                <span class="greenPrice">$2,943</span>
            </div>
        </div>
    </div>
</div>